*{
    padding: 0;
    margin: 0;
}

#slider {
    margin: 0 auto;
    width: 45%;
 }

 #slider input[type=radio] {
    display: none;
 }

 #slider label {
    cursor:pointer;
 }

 #slides {
    width: 100%;
    overflow: hidden;
    background: rgb(13, 0, 255);
 }
 
 .inner {
    transition: 1s ease;
    width: 400%;
    line-height: 0;
 }

 #slides .slide {
    width: 25%;
    float:left;
 }

 
 .slide-content img{
    width: 100%;
 }

/*move*/

 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }

/*move text*/
 #slide1:checked ~ .text-and-controls .text .text-items .first {
   margin-left: 0;
}
#slide2:checked ~ .text-and-controls .text .text-items .first {
   margin-left: -25%;
}
#slide3:checked ~ .text-and-controls .text .text-items .first {
   margin-left: -50%;
}
#slide4:checked ~ .text-and-controls .text .text-items .first {
   margin-left: -75%;
}

 #controls {
    display: flex;
    column-gap: 1%;
    margin-top: 0.6vw;
 }

 #controls label {
   width: 1.2vw;
   height: 1.2vw;
   border: 0.7vw solid white;
   background: red;
   background-clip: padding-box;
   border-radius:100%;
 }

 #controls label:hover {
   background: rgb(255, 183, 0);
}

 #slide1:checked ~ .text-and-controls #controls label:nth-child(1),
 #slide2:checked ~ .text-and-controls #controls label:nth-child(2),
 #slide3:checked ~ .text-and-controls #controls label:nth-child(3),
 #slide4:checked ~ .text-and-controls #controls label:nth-child(4) {
   background: blue;
 }

 .text-and-controls{
    width: 100%;
    display: flex;
 }

 .text{
    overflow: hidden;
    flex-grow:1;
    width: 100%;
    margin-top:1vw;
 }

 .text-items{
   width: 400%;
   display: flex;
 }

 .text-items .item{
   transition: 1s ease;
    width: 25%;
    font-size: 1.5vw;
 }

 @media screen and (max-width: 468px) {
   .text-and-controls{
      flex-direction: column-reverse;
   }
   #controls{
      align-self: center;
      margin: 3vw 0;
   }
   .text{
      margin:0;
   }
 }